@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jacques+Francois+Shadow&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+IN:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sofadi+One&display=swap');
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
  }
  
  /* Preferred box-sizing value */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
  ol, ul {
    list-style: none;
  }
  
  /* For images to not be able to exceed their container */
  img {
    max-width: 100%;
  }
  
  /* Removes spacing between cells in tables */
  table {
    border-collapse: collapse;
  }
  
  /* Revert the 'white-space' property for textarea elements on Safari */
  textarea {
    white-space: revert;
  }
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */



.clearfix{
    background-color: black;
}

.nav{
    background-color: rgb(143 31 163);
    height: 56px;
    
 }
 .one{
    display: inline;
 }
 .nav-in{
     color: white;
     font-size: 34px;
     padding: 12px;
     cursor: pointer;
 }
 .nav-in:hover
 {
     background-color: rgb(193, 164, 219);
 }
 .theme{
    padding: 20px;
    font-family: "Jacques Francois Shadow", serif;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    color: rgb(189, 207, 85);
}
.log-bor{
    background-color: white;
    width: 452px;
    height: 485px;
    padding: 25px 30px;
    border-radius: 23px;
    position: relative;
    top: 107PX;
    left: 898px;
}
.email,.pas,.name,.cn-pas{
    border: 2px solid black;
    padding: 3px 8px;
    width: 406px;
    height: 46px;
    margin-bottom: 15px;
    border-radius: 29px;
    font-size: 19px;
}
.btn{
    border: 2px solid black;
    padding: 5px;
    background-color: chartreuse;
    color:  rgb(143 31 163);
    font-size: 29px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 299px;
    height: 45px;
    margin-left: 62px;
    border-radius: 15px;
}
.btn:hover
{
    background-color: rgba(240, 248, 255, 0.633);
}
.sign{
    font-size: 57px;
    margin: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(143 31 163);
}
.link{
    color: blue;
    cursor: pointer;
    margin-top: 50px;
}
.link:hover{
    color: rgb(138, 147, 155);
}
.para
{
    color: white;  
    background-color: black;
    position: absolute;
    top: 179px;
}
.wel{
  display: inline;
  color:  rgb(143 31 163);
  font-size: 90px;
}
.dis{
  display: inline;
  font-size: 33px;
  font-weight: 300;
}